@use "./props.scss" as *;
@import "./myModal.module.scss";
.frag {
  width: 90rem;
  @media screen and (max-width: 1800px) {
    width: 75rem;
  }
  @media screen and (max-width: 1600px) {
    width: 70rem;
  }
  @media screen and (max-width: 1400px) {
    width: 65rem;
  }
  @media screen and (max-width: 1200px) {
    width: 45rem;
  }
  @media screen and (max-width: 768px) {
    width: 43rem;
    .fraglin {
      width: 48rem;
    }
  }
  .form {
    display: grid;
    grid-template-columns: 2fr 250px;
    gap: 2rem;
    width: 100%;
  }
  label {
    font-size: 1.2rem;
  }
  input {
    background: $color-light;
    padding: $padding-2 $card-padding;
    color: $color-dark;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: $border-radius-1;
    @media screen and (max-width: 768px) {
      font-size: 2.2rem;
      &::placeholder {
        font-size: 24px;
      }
    }
  }
  .select {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid $color-primary;
    width: 100%;
    padding: $padding-2;
    font-family: Poppins;
    font-size: 18px;
    color: $color-dark;
  }
}
