@use "./props.scss" as *;

.frag {
  width: 90rem;
  @media screen and (max-width: 1800px) {
    width: 75rem;
  }
  @media screen and (max-width: 1600px) {
    width: 70rem;
  }
  @media screen and (max-width: 1400px) {
    width: 65rem;
  }
  @media screen and (max-width: 1200px) {
    width: 45rem;
  }
  @media screen and (max-width: 768px) {
    width: 43rem;
    .fraglin {
      width: 48rem;
    }
  }
  .form {
    display: grid;
    grid-template-columns: 2fr 40rem;
    gap: 2rem;
    width: 100%;
  }
  label {
    font-size: 1.2rem;
  }
  input {
    background: $color-light;
    padding: $padding-2 $card-padding;
    color: $color-dark;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.2rem;
    border-radius: $border-radius-1;
  }
}
