@use "./props.scss" as *;

.frag {
  width: 90rem;
  @media screen and (max-width: 1800px) {
    width: 75rem;
  }
  @media screen and (max-width: 1600px) {
    width: 70rem;
  }
  @media screen and (max-width: 1400px) {
    width: 65rem;
  }
  @media screen and (max-width: 1200px) {
    width: 45rem;
  }
  @media screen and (max-width: 768px) {
    width: 43rem;
  }
}
