@use "./props.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: Poppins, sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  background: $color-background;
  overflow: none;
  user-select: none;
  color: $color-dark;
  transition: .3s ease-in-out;
}
.dark {
  background: #181a1e;
  color: #edeffd;
  $color-background: #181a1e;
  $color-white: #202528;
  $color-dark: #edeffd;
  $color-dark-variant: #a3bdcc;
  $color-light: rgba(0, 0, 0, 0.4);
  $box-shadow: 0 2rem 3rem $color-light;
  p {
    color: #edeffd;
  }
  b {
    color: #edeffd;
  }
  a {
    color: #edeffd;
  }
  
}

a {
  color: $color-dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  list-style: none;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
h6 {
  font-size: 0.76rem;
}
small {
  font-size: 0.75rem;
}

p {
  color: $color-dark;
}
b {
  color: $color-dark;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 5px rgb(128, 128, 128);
  border-radius: 5px;
  background: transparent;
  color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #667985;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #10b5f7;
}
