.container{
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
  
}
.aside{
  height: 100vh;
}
.main{
  margin-top: 1.4rem;

  .date{
  display: inline-block;
  background: $color-light;
  border-radius: $border-radius-1;
  margin: 1rem 0;
  
  input{
   background: transparent;
   border: none;
   color: $color-dark;
   padding: .8rem 3rem .8rem 1.2rem; 
   
  }
}
  

}