@use "./props.scss" as *;
.container {
  display: flex;
  margin: 0 1%;
  gap: 1.8rem;

  // .dark {
  //   $color-background: #181a1e;
  //   $color-white: #202528;
  //   $color-dark: #edeffd;
  //   $color-dark-variant: #a3bdcc;
  //   $color-light: rgba(0, 0, 0, 0.4);
  //   $box-shadow: 0 2rem 3rem $color-light;
  // }

  @media screen and (max-width: 1200px) {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 0rem;
  }
}
.aside {
  height: 100vh;
  margin-top: 5rem;
  position: fixed;
  @media screen and (max-width: 768px) {
    position: fixed;
    background: $color-white;
    left: -100%;
    box-shadow: 1rem 3rem 4rem $color-light;
    height: 100vh;
    padding-right: $card-padding;
    display: none;
    z-index: 99;
    animation: slide-in 0.5s forwards;
    @keyframes slide-in {
      to {
        left: 0;
      }
    }
  }
}
.main {
  margin-top: 6rem;
  padding: 0 1rem;
  margin-left: 15rem;
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px){
      position: absolute;
      bottom: 0;
    }
  
    a{
      display: flex;
      justify-content: space-between;
      width: 15rem;
    }
    .slogo {
      width: 10%;
      .img {
        width: 20px;
        margin-top: .2rem;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    margin-top: 6rem;
    margin-left: 7rem;
  }
  @media screen and (max-width: 768px) {
    margin-top: 6rem;
    margin-left: 0rem;
  }

  .date {
    display: inline-block;
    background: $color-light;
    border-radius: $border-radius-1;
    margin: 1rem 0;

    input {
      background: transparent;
      border: none;
      color: $color-dark;
      padding: 0.8rem 3rem 0.8rem 1.2rem;
    }
  }
}
