@import "props.scss";
.toop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
.btn {
  font-size: 25px;
  margin-left: 1.4rem;
  display: none;
  @media screen and (max-width: 650px) {
     margin-left: 1rem;
  }
}
.logo {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 25px;
  span {
    color: $color-danger;
  }

  @media screen and (max-width: 1200px) {
    margin-left: 1rem;
    h2 {
      display: none;
    }
    h3 {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .btn {
      display: inline;
    }
  }
}
