
.right {
  margin-top: 1.4rem;
  .top {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    button {
      display: none;
    }
    .profile {
      display: flex;
      gap: 2rem;
      text-align: right;
      small {
        color: $color-info-dark;
      }
    }
  }
  .toggler {
    background: $color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 4.5rem;
    cursor: pointer;
    border-radius: $border-radius-1;
    .span {
      font-size: 1.2rem;
      width: 50%;
      height: 100%;
      padding: 0.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .span.active {
      background: $color-primary;
      color: #fff;
      border-radius: $border-radius-1;
    }
  }
  .recent {
    margin-top: 1rem;
    .updates {
      background: $color-white;
      padding: $card-padding;
      margin-top: 1rem;
      border-radius: $card-border-radius;
      box-shadow: $box-shadow;
      transition: all 0.3s ease;
      h2 {
        margin-bottom: 0.8rem;
      }
      &:hover {
        box-shadow: none;
      }
      .update {
        display: grid;
        grid-template-columns: 2.5rem auto;
        gap: 1rem;
        margin-bottom: 1rem;
      }
       @media screen and (max-width: 768px) {
      border-radius: 1rem;
    
    }
    }
    @media screen and (max-width: 768px) {
      margin-top: -10rem;
    
    }
  }
  @media screen and (max-width: 768px) {
    width: 94%;
    margin: 0 auto 4rem; 
    .top{
        position: fixed; 
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 .8rem;
        height: 4.6rem;
        background: $color-white;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem $color-light;
.toggler{
    width: 4.4rem;
    position: absolute;
    left: 60%;
}
button{
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: $color-dark;
    position: absolute;
    left: 1rem;
    font-size: 2rem;
    .span{
        font-size:  2rem;
    }
}
    } 
    .profile .info{
        display: none;
    }  
  }
}
