@use "./props.scss" as *;
.right {
  margin-top: 1.4rem;
  @media screen and (max-width: 768px) {
    p {
      font-size: 1.2rem;
    }
  }

  .recent {
    margin-top: 1rem;
    .updates {
      background: $color-white;
      padding: $card-padding;
      margin-top: 1rem;
      border-radius: $card-border-radius;
      box-shadow: $box-shadow;
      transition: all 0.3s ease;
      h2 {
        margin-bottom: 0.8rem;
      }
      &:hover {
        box-shadow: none;
      }
      .update {
        display: grid;
        grid-template-columns: 2.5rem auto;
        gap: 1rem;
        margin-bottom: 1rem;
      }
      @media screen and (max-width: 768px) {
        border-radius: 1rem;
        .small {
          font-size: 2rem;
        }
      }
    }
  }
}
.right.dark {
  .updates {
    background: #202528;
    $box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4) !important;
  }
}
