@use "./props.scss" as *;

.top {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 0.8rem;
  height: 4.6rem;
  background: $color-white;
  width: 100%;
  margin: 0;
  z-index: 2;
  box-shadow: 0 1rem 1rem $color-light;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    img {
      width: 40px;
      height: 40px;
    }
  }
  .search {
    background: $color-light;
    padding: $padding-1 $card-padding;
    width: 32vw;
    border-radius: $border-radius-1;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $color-dark;
    position: absolute;
    left: 15%;
    font-size: 1rem;
    @media screen and (max-width: 768px) {
      left: 27%;
      width: 16rem;
      height: 1rem;
    }
  }
  .toggler {
    width: 4.4rem;
    background: $color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 4.5rem;
    cursor: pointer;
    border-radius: $border-radius-1;

    .span {
      font-size: 1.2rem;
      width: 50%;
      height: 100%;
      padding: 0.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in-out;
    }
    .span.active {
      background: $color-primary;
      color: #fff;
      border-radius: $border-radius-1;
    }
  }
  button {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $color-dark;
    position: relative;
    font-size: 2.5rem;
    .span {
      font-size: 2rem;
    }
    @media screen and (max-width: 768px) {
      display: inline-block;
    }
  }
}
.profile .info {
  display: none;
}

.top.dark {
  background: #202528;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  .search {
    color: #edeffd;
    background: rgba(0, 0, 0, 0.4);
  }
  .toggler {
    background: rgba(0, 0, 0, 0.4);
  }
  button {
    color: #edeffd;
  }
}
