@use "./props.scss" as *;

.top {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 0.8rem;
  height: 4.6rem;
  background: $color-white;
  width: 100%;
  margin: 0;
  z-index: 2;
  box-shadow: 0 1rem 1rem $color-light;
  display: flex;

  @media screen and (max-width: 768px) {
    img {
      width: 40px;
      height: 40px;
    }
    .photo {
      display: none;
    }
  }
  .search {
    background: $color-light;
    padding: $padding-2 $card-padding;
    width: 32vw;
    height: 3rem;
    border-radius: $border-radius-1;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $color-dark;
    font-size: 3rem;
    margin: 0 10rem;
    input {
      width: 100%;
      background: transparent;
      color: $color-dark;
      outline: none;
      border: none;
      font-size: 1.4rem;
    }
    @media screen and (max-width: 768px) {
      width: 32rem;
      height: 4rem;
      margin: 0 2rem;
      input {
        background: transparent;
        font-size: 2.2rem;
      }
    }
  }
  .end {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1%;
  }
  .toggler {
    width: 4.4rem;
    background: $color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 4.5rem;
    cursor: pointer;
    border-radius: $border-radius-1;
    margin: 0rem 2.5rem;
    @media screen and (max-width: 768px) {
      margin: 0rem 1.5rem;
    }
    // @media screen and (max-width: 750px) {
    //   margin: 0rem 1rem;
    // }
    // @media screen and (max-width: 650px) {
    //   margin: 0rem .5rem;
    // }
    .span {
      font-size: 1.2rem;
      width: 50%;
      height: 100%;
      padding: 0.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease-in-out;
    }
    .span.active {
      background: $color-primary;
      color: #fff;
      border-radius: $border-radius-1;
    }
  }
  button {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $color-dark;
    position: relative;
    font-size: 2.5rem;
    margin-left: 1.5rem;
    .span {
      font-size: 2rem;
    }
    @media screen and (max-width: 768px) {
      display: inline-block;
    }
  }
}
.profile .info {
  display: none;
}

.top.dark {
  background: #202528;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  .search {
    color: #edeffd;
    background: rgba(0, 0, 0, 0.4);
    input {
      color: #edeffd;
    }
  }
  .toggler {
    background: rgba(0, 0, 0, 0.4);
  }
  button {
    color: #edeffd;
  }
}
